<div class="container">
  <br/><br/>
<!--<a ui-sref="home.project" class="btn btn-primary btn-sm active" role="button">Back to Projects</a>!-->
<!--<a ui-sref="home.project" class="btn btn-primary btn-sm active" role="button">Save Project</a>!-->
<a ui-sref="home.property" class="btn btn-primary active" role="button">
  <span class="glyphicon glyphicon-triangle-left"></span>
  Back</a>

<br/><br/>

<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Projects in {{locationName}}</div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Owner</th>
                <th>Division</th>
                <th>Benefit Area</th>
                <th>Start Date</th>
                <th>Template Name</th>
                <th></th>
              </tr>
            </thead>
            <tr ng-repeat="model in assignedProjects">
              <td>{{model.title}}</td>
              <td>{{model.owner}}</td>
              <td>{{model.division}}</td>
              <td>{{model.benefitArea}}</td>
              <td>{{model.startDate | date:"MMM dd, y"}}</td>
              <td>{{model.templateName}}</td>
              <td><a  ui-sref="home.editProject({projectId:model._id,locationId:locationId})" class="btn btn-default active" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit</a></td>
                <!--
                ng-click="editProject(model._id,locationId)"
                 !-->
            </tr>
        </table>
    </div>
  </div>
</div>

</div>
